@import url('https://fonts.googleapis.com/css?family=Oleo Script Swash Caps');

.grid{
    padding: 0;
    /* margin: -8px; */
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 35%;
    grid-gap: 10px;
}

.grid h1{
    font-weight: 100;
    margin-left: 8px;
}


.form h1{
    margin-top: -20px;
}

.logo{
     width: 100%;
     max-height: fit-content;
     height: 713px;
     background-image: url("/logo1.svg");
     /* background: require("../public/logo1.svg"); */
     background-repeat:no-repeat; 
}

.logo h1{
    font-family: Oleo Script Swash Caps;
    margin-left: 10px;
    font-size: 40px;
    color: #E8CC97;
}

.logo p{
    margin-left: 15px;
    margin-top: -15px;
    color: #DBCCAF;
}


.form{
    width: 100%; 
    margin: 100px 0px;
}

.form form{
    display: flex;
    flex-direction: column; 
}
.form-control label{
    display: block;
    color:rgb(71, 68, 68);
    padding: 3px 0px;
}
.form-control{
    max-width: 100%;
    width: 500px;
    margin: 2px;
    padding: 5px;
}

.form-control input{
    width: 100%;
    border: 1px solid #DDDCDC;
    height: 40px;
    border-radius: 5px;
    outline: none;
}

.form-control input::placeholder{
    color: #d6d0d0;
    padding:3px 16px;
    text-align: start;
    font-size: 16px;
}
.ca{
    text-align: center;
    margin: auto;
    max-width: 100%;
    width: 600px;
}
.ca button{
    width: 70%;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid black;
    background: white;
    padding: 10px;
    cursor: pointer;

}

.otp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.otp input{
    margin: 10px;
    width: 400px;
    max-width: 100%;
    border: 1px solid #DDDCDC;
    height: 40px;
    border-radius: 5px;
    outline: none;

}

.otp input::placeholder{
    color: #d6d0d0;
    padding:3px 16px;
    text-align: start;
    font-size: 16px;
}

.otp button{
    width: 70%;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    border: 1px solid black;
    background: white;
    padding: 10px;
    cursor: pointer;
}
.account{
    margin: 5px;
    text-align: center;
}

.login{
    color: orange;
    border: none;
    cursor: pointer;
    background-color: white;
}
.error {
    color: red;
  }


 @media(max-width:768px){
    .grid{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 40% auto;
    }
    .logo{
        /* width: 100% ; */
        background: url("/banner1.jpg");
        background-repeat:no-repeat;
        height: 100%;
        background-size: 100%;
    }

    .form{
        margin-top: -10px;
    }
    .logo h1{
        font-size: 30px;
    }
    .logo p{
        font-size: 10px;
    }

    .form h1{
        /* margin-top: -30px; */
        text-align: center;
    }
    .form-control{
        margin: auto;
    }
 } 


 @media(max-width:500px){
    .form{
        margin-top: -70px;
    }
    .logo{
        width: 110% !important;
        background-size: 100% ;
    }

    .logo h1{
        font-size: 20px;
    }
    .logo p{
        font-size: 10px;
    }
    .form-control{
       
        max-width: 100%;
        width:400px;
        margin: auto;
        padding: 5px;
    }
    
    .form-control input{
        width: 100%;
        border: 1px solid #DDDCDC;
        height: 40px;
        border-radius: 5px;
        outline: none;
    }

    
 }